.genres-page {
  padding: 40px;
}

.genres-page h1 {
  text-align: center;
  margin-bottom: 30px;
}

.genre-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 40px;
}

.genre-buttons button {
  padding: 12px 20px;

  border: none;
  border-radius: 8px;

  background-color: #2563eb;
  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.genre-buttons button:hover {
  background-color: #1d4ed8;
}

.genre-title {
  text-align: center;
  margin-bottom: 30px;
}

.movies-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

  gap: 25px;
}