.movie-card {
  background: #1f2937;

  border-radius: 15px;

  overflow: hidden;

  transition: all 0.3s ease;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.movie-card:hover {
  transform: translateY(-8px);
}

.movie-card img {
  width: 100%;
  height: 350px;

  object-fit: cover;
}

.movie-info {
  padding: 15px;
}

.movie-info h3 {
  margin-bottom: 10px;

  color: white;
}

.movie-info p {
  color: #facc15;

  margin-bottom: 15px;
}

.movie-info button {
  width: 100%;

  padding: 10px;

  border: none;
  border-radius: 8px;

  background-color: #2563eb;

  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.movie-info button:hover {
  background-color: #1d4ed8;
}

.remove-btn {
  background-color: #dc2626 !important;
}

.remove-btn:hover {
  background-color: #b91c1c !important;
}